header {
  background-color: #593954;
  color: white;
  padding: 1rem;
}

nav {
  margin: 40px;
}

nav ul {
  display: flex;
  flex-direction: row-reverse;
}

nav ul li {
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

.posts{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 40px;
}

.container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}